{% extends 'LanguageExchange/base.html' %}
<html>

<head>
{% block title_block%}
<title>About Us</title>
{% endblock %}


</head>
{% block body_block %}    
                
<body>
<h2>About Us</h2>
<p>Glasgow Language University Exchange (GLUE) is the effort of Dohyung Kim, Daehwan Cho, Yao-I Teong and Macello to support the university students in Glasgow learn, practice and become fluent in a foreign language.<br />

The four founders met in early 2017 as computer science students in Glasgow university. They can see many international students in the university and they thought culture exchange would be nice at begins.<br />

Actually they had knew that language exchange website has already exsisted, but that is for all over the world and it is hard to find people around them.

Therefore, they decided to create language exchange website just for university students in Glasgow. <br />

Although all of them are taking language classes (Chinese, French, Spanish) in the university, language classes and immersion alone are not sufficient to become fluent in a foreign language.

Moreover, they realised language exchange practice with a teacher is probably the most effective way to bridge the gap between language classes and communicating in the real world.<br />

Together, they decided to use the Internet to bring the benefits of language exchange practice to university students. <br /> In October 2017, GLUE was launched. This was an online community that has since helped students find language exchange partners and improve their second language.
</p>

<h2>Following are the administers:</h2>
	<br/>
	<h3>Cho Daehwan<h3><br/>
	<h3>2229834C@student.gla.ac.uk</h3>
	<h4>Nationality: Korea<br/>Lanugage: Korean, English</h4>
	<br/>
	<h3>Kim Dohyoung<h3><br/>
	<h3>2229761K@student.gla.ac.uk</h3>
	<h4>Nationality: Korea<br/>Lanugage: Korean, English</h4>
	<br/>
	<h3>Marcello Laksono<h3><br/>
	<h3>2204494M@student.gla.ac.uk</h3>
	<h4>Nationality: Philippines<br/>Lanugage: English, Indonesian</h4>
	<br/>
	<h3>Tseng Yao-I<h3><br/>
	<h3>2204494M@student.gla.ac.uk</h3>
	<h4>Nationality: Taiwan<br/>Lanugage: Chinese, English, Taiwanese</h4>
	<br/>
	


</body>
{% endblock %}
</html>