{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang = "en">
    <meta charset = "UTF-8" />
    <link rel="stylesheet" type="text/css" href={% static "CSS/indexstyle.css"%} >
        {% block title_block%}

           <title>
           LangaugeEXchange
           </title>

        {% endblock %}
        
    <style>
        {% block Style_block %}
            html, body { height:100%; width:100%;overflow:hidden }
            .h-div {height:96%; width:96%;border:3px #f99 solid}


            a:link     {color:#000000;text-decoration:none} 
            a:visited  {color:#000000;text-decoration:none} 
            a:active   {color:#000000;text-decoration:none} 
            a:hover    {color:#e2e1e0;text-decoration:none}

        {%  endblock %}
    </style>
</head>
   
   
    <body>
        <div id = page>  
            <div id = header>
                {% block topmanu_block %}
                    
                    <div class = logobox  > <img src={% static "images/logo.png" %} alt="Picture of logo" width=250px; height=150px;> </div>
                    {% if user.is_authenticated %} 
                    <div class = headMenu  ><t><a href="{% url 'edit' %}">Edit</a></t></div> 
                    <div class = headMenu  ><t><a href="{% url 'logout' %}">Logout</a></t></div>  
                    <div class = headMenu ><o>{{ user.username }}</o></div> 
                    <img src="{{MEDIA_URL}}{{user.picture}}">
                   
                      
                        
                      
                    {%  else %}    
                        <form id="login_form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class = headMenu  ><t>  <input type="submit" value="login" /></t></div>
                        <div class = headMenu  > Password: <input type="password" name="password" value="" size="30" /></div>
                        <div class = headMenu  > E-mail: <input type="text" name="email" value="" size="30" /></div>
                        </form>
                    {% endif %}
                    <HR COLOR="green" WIDTH="100%">
                {% endblock %}   
            </div>
            <div id = content>
                {% block body_block %}    
                {% endblock %}
            </div>
            <div id = footer>
                {% block bottommanu_block %} 
                
                    <HR COLOR="green" WIDTH="100%"></HR>
                    <div class="footmenu"> <a href="{% url 'index' %}"> Home</a></div>
                    <div class="footmenu"> <a href="{% url 'about' %}">About US</a></div>
                    <div class="footmenu"> <a href = "{% url 'contact' %}" alt="Contact US">Contact US</a></div>
                    <div class="footmenu"> <a href = "{ % url % }"  alt="FAQs">FAQs</a></div>	
                    {% if not user.is_authenticated %} 
                        <div class="footmenu"><a href="{% url 'register' %}">sign up</a></div>  
                    {% endif %}   
                {% endblock %}           
            </div>
       </div>
       
    </body>
    
</html>