{% extends 'LanguageExchange/base.html' %}
{% load staticfiles %}
{% block title_block%}
<title>FAQs</title>
{% endblock %}


  {% block body_block %}

<div class="fullscreen landing parallax" style="background-image:url('{% static "images/contack-logo.png" %}');"  data-img-width="2000" data-img-height="1333" data-diff="100">

            <div class = "overlay">
                <div class="container">
                        <!-- /.signup form -->
                      


  
   <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0" aria-expanded="true">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: What is LanguageExchange ?</a>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                   Language-exchange is literally to change their first language. In here, GU Students are supported to look for other helping them with learning their wish-languages. In fact, there are large amount of international students, which means high demand to learn new language. 
                        
                </div>
            </div>
        </div>

 
        
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1" aria-expanded="true">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: How to use LanguageExchange ?</a>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>
                     <div style="color:black">
                     Users are strongly recomended to register Language-exchange. This is becasue the condition of searching people for learning is only registeration. After registeration, the "search" page will be available. 
                     in search, users can choose what languages they want to learn. People who have selected national language will be shown up. In the users' information, there are their contact detatil. 
                     This contact deatail will be GU_Email. </div>
                </div>
            </div>
        </div>
        
        
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2" aria-expanded="true">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: Why do you use it ?</a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    LanguageExchange could bring a lot of oppoturities for users to get jobs. This is becasue, many people esily move to other country which means, there are high possibilites of working in forrign countries.
                    Thus, Knowing Language is one of powerful benefits. 
                        
                </div>
            </div>
        </div>
        
         <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3" aria-expanded="true">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: If you do not find what you want to learn ?</a>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    If you do, you might have 2 ways. the first one is just to wait for someone who can speak what you want to learn. or, We are going to update Post in our site. For example, 
                    you can post what you want to learn, then people might see and would contact you.
                        
                </div>
            </div>
        </div>
           </div>
            </div>
        </div>   
        {% endblock %}