{% extends 'LanguageExchange/base.html' %}
{% load staticfiles %}



{% block body_block %}

{% if not searched %}
<form id="form" method="GET"  action=""enctype="multipart/form-data">
   
    {{form.as_table}}
    <input type="submit" value="search" />
    <br>
    
{% else %}
    
{% for each_model in Result %}
    
    <div class="panel panel-success" style="margin-left:100px;margin-top:100px;width:400px ;float:right">
            <div class="panel-heading">
              <h3 class="panel-title"style="text-align:center"><strong>USER INFORMATION</strong></h3>
            </div>
            <div class="panel-body">
             
               <img src="{{MEDIA_URL}}{{each_model.Profile_image}}"style="width:300px; height:200px; display:block; margin-left:auto;margin-right:auto">
               <hr>
               <div class="alert alert-info" role="alert" style="text-align:center">
       <strong>NAME</strong><br> </div> <div style="text-align:center;">{{each_model.username}}</div>
      
               
              
               <hr>
                  <div class="alert alert-info" role="alert"style="text-align:center">
        <strong>Nationality  </strong><br></div><div style="text-align:center"> {{each_model.Nationality}}</div>
      
                       
              
                <hr>
                 <div class="alert alert-info" role="alert"style="text-align:center">
        <strong> Mother_language  </strong> <br></div><div style="text-align:center">{{each_model.Mother_language}}</div>
                       
              
               
                <hr>
                 <div class="alert alert-info" role="alert"style="text-align:center">
        <strong> Wish_language </strong> <br></div><div style="text-align:center">{{each_model.Wish_language}}</div>
               <hr>
                <div class="alert alert-info" role="alert"style="text-align:center">
        <strong> Message_status </strong><br> </div><div style="text-align:center"> {{each_model.message_status}}</div>
         
             </div>
         </div>
         {% endfor %}
         
         
   {% if Result.has_other_pages %}
  
    <ul class="pagination">
    {% if Result.has_previous %}
      <li><a href="?page={{ Result.previous_page_number }}&Mother_language={{request.GET.Mother_language}}&Nationality={{request.GET.Nationality}}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in Result.paginator.page_range %}
      {% if Result.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}&Mother_language={{request.GET.Mother_language}}&Nationality={{request.GET.Nationality}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if Result.has_next %}
      <li> <a href="?page={{ Result.next_page_number }}&Mother_language={{request.GET.Mother_language}}&Nationality={{request.GET.Nationality}}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  
   {% endif %}

{%endif%}    
</body>
</html>

{% endblock %}