{% extends 'LanguageExchange/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
<div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div> 
 </head>
  <body>
  {% block body_block %}
  
    
    <h1>Register with LanguageExchange</h1>
   <div class = "logobox"> <img src={% static "images/registerlogo.gif" %} alt="Profile_image of registerlogo" width=1116px; height=500px;></div> 
   
       {% include 'LanguageExchange/messages.html' %}
       <strong><h1>register here!</h1> </strong>
     
      <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
            
            
        {{user_form.as_p}}</br>
      
       

        <!-- Provide a button to click to submit the form. -->
       <button class="btn btn-primary" type="submit">Register</button>
        </form>
        
    
        
       
   
    </main>
    
       
   
  </body>
{% endblock %}


    

</html>