{% extends 'LanguageExchange/base.html' %}
{% load staticfiles %}
<head>
 <link rel="stylesheet" type="text/css" href={% static "CSS/registerstyle.css"%} >
 </head>

{% block body_block %}
    <h1>Register with LanguageExchange</h1>
   <div class = "logobox"> <img src={% static "images/registerlogo.gif" %} alt="Picture of registerlogo" width=1116px; height=500px;></div> 
    {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
       <strong><h1>register here!</h1> </strong>
      <div class = "headmenu>  <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}

      <ul><li>
        {{ user_form.as_p }}</li></ul>
       


        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" /></div>
        </form>
    {% endif %}
    
{% endblock %}