<table class="table table-bordered">
 {% block body_block %}


{% for each_model in Result %}
    
    <div class="panel panel-success" style="margin-left:100px;margin-top:100px;width:400px ;float:right">
            <div class="panel-heading">
              <h3 class="panel-title"style="text-align:center"><strong>USER INFORMATION</strong></h3>
            </div>
            <div class="panel-body">
             
               <img src="{{MEDIA_URL}}{{each_model.Profile_image}}"style="width:300px; height:200px; display:block; margin-left:auto;margin-right:auto">
               <hr>
               <div class="alert alert-info" role="alert" style="text-align:center">
       <strong>NAME</strong><br> </div> <div style="text-align:center;">{{each_model.username}}</div>
      
               
              
               <hr>
                  <div class="alert alert-info" role="alert"style="text-align:center">
        <strong>Nationality  </strong><br></div><div style="text-align:center"> {{each_model.Nationality}}</div>
      
                       
              
                <hr>
                 <div class="alert alert-info" role="alert"style="text-align:center">
        <strong> Mother_language  </strong> <br></div><div style="text-align:center">{{each_model.Mother_language}}</div>
                       
              
               
                <hr>
                 <div class="alert alert-info" role="alert"style="text-align:center">
        <strong> Wish_language </strong> <br></div><div style="text-align:center">{{each_model.Wish_language}}</div>
               <hr>
                <div class="alert alert-info" role="alert"style="text-align:center">
        <strong> Message_status </strong><br> </div><div style="text-align:center"> {{each_model.message_status}}</div>
         
             </div>
         </div>
         {% endfor %}
         
         
      <div class="pagination">
    <span class="step-links">
        {% if Result.has_previous %}
            <a href="?page={{ Result.previous_page_number }}">previous</a>
        {% endif %}
        

        <span class="current">
            Page {{ Result.number }} of {{ Result.paginator.num_pages }}.
        </span>

        {% if Result.has_next %}
            <a href="?page={{ Result.previous_page_number }}">next</a>
        {% endif %}
    </span>
</div>         
         


{%endif%}    
</body>
</html>

{% endblock %}